* {
    background-color: lightgray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

header {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto;
}

button{
    background-color: rgb(230, 191, 251);
    border-radius: 5px;
    margin: 20px;
}

#intro {
    text-align: center;
    margin-left: 140px;
}

#start-btn {
    background-color: lightgreen;
}

#choices button {
    display: flex;
    flex-wrap: wrap;
}

#end-of-quiz {
    text-align: center;
}

#submit {
    background-color: gold;
    margin: 20px;
}
